html{
    box-sizing: border-box;
    margin: 0%;
}

*, *::after {
    box-sizing: inherit;
}

    body {
        background-color:  #EAC926;
        overflow-x:hidden;
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 40vw;
        display: flex;
        padding: 1.5rem;
    }

    .buscador {
        padding: 0.5em;
        margin-left: 0.5em;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.buscador input{
        width: 80%;
    }

    ::placeholder{
        color: #666;
    }

    .banner{
        display: flex;
        width: 100vw;
    }

    .banner img{
        width: 100%
    }


    .lupa{
        width: 1.5rem;
        margin: 5px;
        border: 1px solid black;
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .fa-magnifying-glass{
        font-size: 1.5rem;
    }

    .compraEnCuota {
        display: flex;
        margin: 0;
        justify-content: center;
    }

    .icono{
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    ul{
        list-style-type: none;
        display: none;
    }

    .roboto{
            font-family: 'Roboto', sans-serif;
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }

    .subTituloUltima{
        width: 100vw;
        font-size: 24px;
        margin : 15px;

    }



    div.burger-menu{
        text-align: center;
        margin: 20px;

    }
    div.burger-menu i{
        text-align: center;
        background-color: #1259c3;
        border-radius: 5px;
        color: #FFF;
        font-size: 40px;
        height: 40px;
        margin: 10px 0px 20px 0px;
        width: 40px;
    }

    .precioDes {
        margin: 15px;
        margin-top: 0px;
    }

    .precio{
        font-size: 18px;
    }

    .descuento{
        font-size: 16px;
        color:#39b54a;
    }

    .descripcion{
        display: none;
        font-size: 16px
    }

    footer{
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: white;
        text-align: center;
        border: #ebebeb 3px solid;
    }

    div.iconoFooter i{
        box-sizing: border-box;
        display: flex;
        text-align: center;
        align-self: column;
        color: #1259c3;
        font-size: 40px;
        height: 40px;
        width: 40px;
    }

    .ofertasSubTitulo{
        color: #666;
        margin-left: 10px;
    }

    .info2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subtituloFooter{
        color:#666;
        font-weight: bold;
        font-size: 16px;
    }
    .infoFooter{
        width: 50%;
    }
/* footer */
    .info1{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 10px;
    }

    .copyright{
        margin: 10px;
    }

        main {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #ebebeb;
        }

.ultimaVisitaProducto{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.ultimaVisita{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}


.ultimaVisita img {
    width: 100%;
}

.ofertasProductos img{
    width: 100%;
}

.ofertasProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
}

.descripcionTotalProducto{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    align-items: flex-start;

}

.fa-truck{
    color:#39b54a;
    margin: 15px;
}

section.ultimaVisita{
    width: 100vw;
    background-color: #ebebeb;
}

.logoBuscador{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 50%;
}

.buscadorLupa{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%
}

.buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 70%;
}

div.buscador input{
    width: 100%;
    height: 50%;
}

.lupa{
    height: 1.6em;
    position: relative;

}

div.lupa i {
    font-size: 1.45em ;
}

.iconocompraEnCuota{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}



    @media (min-width:760px){
        .banner{
            display:flex;
            flex-direction: row;
        }

        .imgBanner{
            flex-grow: 1;
        }
        .descripcion{
            display: flex;
    }

    ul{
        display: block;
        margin: 1em;
    }

    .burger-menu{
        display: none;
    }

    .ultimaVisitaProducto:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);}

    .fa-truck {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #39b54a;
            padding: 5px;
            font-size: 16px;
            background-color: #FFF;
            }

    .descripcionTotalProducto{
        display: flex;
        align-items: flex-start;
    }


    .camioncito{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
    }

    .precioDes{
        width: 100%;
        display: flex;
    }

    .precio{
        display: flex;
        width: 30%;
        flex-direction: row;
        justify-content: end;
        margin-right: 10px;
    }

    .descuento{
        width: 70%;
    }


    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.ultimaVisita{
        width: 100vw;
        background-color: #ebebeb;
    }

    .ultimaVisitaProducto{
        width: 46%;
    }

    .barra{
        display: flex;
        flex-direction: row;
    }

    ul{
        display: flex;
        flex-direction: row;
    }

    .lista1{
        display: flex;
        flex-wrap: nowrap   ;
        flex-grow: 1;
    }

    li{
        padding: 10px;

    }

    .logo{
        width: 100%;
    }


    .logoBuscador{
        display: flex;
        flex-direction: row;
        width: 60%;
        flex-wrap: wrap;
    }

    .logo{
        width: 40%;
    }

    .buscadorLupa{
        width: 50%
    }

    .iconocompraEnCuota{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30vw;
    }

    div.iconocompraEnCuota h3{
        font-size: 1.6vw;
    }

    .fa-hand-holding-dollar{
        font-size: 1.5vw;
    }

    div.buscador input{
        height: 40%;
    }

    .lupa{
        width: 2em;
    }

    div.lupa i {
        font-size: 1.5em;
    }

    .buscador{
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .logoBuscadorCuotas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }

    @media (min-width:1200px){

        .descripcion{
            display: none;
        }

        .descripcion:hover{
            display: block;
            background-color: red;
        }

        .ultimaVisitaProducto{
            width: 23%;
        }


        ::placeholder{
            font-size: 24px;
            justify-content: center;
        }



        main{
            display: flex;
        }

        section{
            display: flex;
            width: 100%;
        }

        .ultimaVisita{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            width: 100%;
        }

        .fa-truck:hover{
            -webkit-transform: rotate(-90deg);
        }

        .todaLaInfo{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
